@import '../../shared/css/main.css';

main {
  padding: 0;
}

.space {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

page-header {
  --background: none;
  --border-width: 0;
}

orbiting-earth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}